@charset "utf-8";

body {
	min-width: 750px;
}
.b-block{
	width: calc(100% - 48px);
}

.b-top-menu {
    min-width: 520px;
    left: auto; 
}

.b-product-params-left {
    margin-right: 24px;
}
.b-product-params-right {
    width: calc(100% - 294px);
}
.b-product-photo{
    width: 365px;
}
.main-photo,
.main-photo .b-product-main a{
    height: 365px;
}
.b-product-content {
    width: calc(100% - 394px);
}

.payment-list {
	width: calc(50% + 84px);
	margin-right: 18px;
}
.payment-list li {
	margin-right: 26px;
}

.delivery-info-item {
	width: calc(50% + 11px);
}
.delivery-info-text {
	width: calc(50% - 62px);
}

.about-info-text {
	display: block;
	width: 100%;
	margin: 0 auto 32px;
}
.about-info-wrap {
	display: block;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.b-im-watch .icon-arrow-right {
	right: 10px !important;
}
.b-im-watch .icon-arrow-left {
	left: 10px !important;
	right: auto !important;
}

.b-order-item-price {
    margin-right: 24px;
}
.b-order-item-name {
    width: calc(100% - 100px);
    padding-top: 0px;
}

.b-order-item-left {
    width: calc(100% - 180px);
}
.order-header-right{
	padding-right: 0;
}
.order-header-right p{
	display: inline-block;
	font-family: 'DINPro-Light';
	font-size: 24px;
	line-height: 30px;
}
.order-status{
	position: static;
	padding-left: 10px;
	display: inline-block;
}
.b-order-item-update,
.b-order-item-buy {
    padding-top: 15px;
}

@media screen and (max-width: 1024px){

	/*.b-profile {
	    margin-right: 16px;
	}
	.b-search-form {
	    max-width: 320px;
	}
	.b-logo {
	    width: 224px;
	    height: 73px;
	    background-size: 224px;
	    background-repeat: no-repeat;
	}
	.b-header-catalogue {
	    margin-top: 0px;
	}*/
	.b-product-params-left {
		width: 100%;
	    margin-right: 0;
	    margin-bottom: 24px;
	}
	.b-product-info p {
	    width: 49%;
	    margin-bottom: 12px;
	    display: inline-block;
	    vertical-align: top;
	}
	.texture-list {
	    max-height: 56px;
	}
	.b-product-texture img{

	}
	.b-product-texture img:nth-child(5n){
		margin-right: 5px;
	}
	.b-product-params-right {
	    width: 100%;
	}
	.b-product-actions-wrap {
	    padding-right: 0;
	}
	.b-product-price-total {
	    margin-bottom: 10px;
	}
	.b-product-quantity {
	    margin-bottom: 16px;
	}
	.b-product-params-right .b-btn {
	    margin-bottom: 24px;
	}

	.delivery-info-item {
		display: block;
		width: 100%;
		margin: 0 auto 32px;
		max-width: 500px;
	}
	.delivery-info-text {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 500px;
	}

	.b-main-article {
		float: none;
		width: 100%;
		margin-bottom: 20px
	}
	.b-main-article:nth-child(2n){
		float: none;
	}
	.b-main-article:last-child {
		margin-bottom: 0;
	}
	.b-im-block .slick-slide img {
		max-width: 100%;
		margin: 0 auto;
	}

	.order-header-left{
		float: none;
		display: block;
		margin-bottom: 6px;
	}
	.order-header-right{
		float: none;
		display: block;
	}
	.b-order-item-price {
	    margin-right: 16px;
	}
	.b-order-item img{
		margin-right: 12px;
	}
	.b-order-item-left {
	    width: calc(100% - 152px);
	}
	.b-order-item-price {
	    width: 110px;
	}
	.b-order-total-inner {
	    margin-top: 16px;
	}
	.b-cabinet-order {
	    margin-bottom: 40px;
	}
	.b-order-total-inner .total {
	    right: 38px;
	}
	.b-order-total {
	    width: 232px;
	}
}

@media screen and (max-width: 920px){

	.b-product-actions li {
	    float: none; 
	    width: 49%;
	    display: inline-block;
	    margin-bottom: 8px;
	}
	.b-product-actions li:last-child {
	    margin-bottom: 0;
	}
	.b-product-info p {
	    width: 100%;
	    display: block;
	}
	.spec-block-left {
	    width: calc(100% - 250px);
	    padding-right: 24px;
	}
	.spec-block-right {
	    width: 245px;
	}
	.b-detail-review-text p {
	    max-width: calc(100% - 75px);
	    padding-right: 50px;
	}
	.models-img-cont {
	    height: 250px;
	}

	.payment-list {
		display: block;
		width: 100%;
		margin: 31px auto 32px;
	}
	.payment-info {
		display: block;
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
}