@charset "utf-8";

@font-face {
    font-family: 'DINPro-Regular';
    src: url('../fonts/DINPro-Regular.eot');
    src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DINPro-Regular.woff2') format('woff2'),
        url('../fonts/DINPro-Regular.woff') format('woff'),
        url('../fonts/DINPro-Regular.ttf') format('truetype'),
        url('../fonts/DINPro-Regular.svg#DINPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/DINPro-Medium.eot');
    src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DINPro-Medium.woff2') format('woff2'),
        url('../fonts/DINPro-Medium.woff') format('woff'),
        url('../fonts/DINPro-Medium.ttf') format('truetype'),
        url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Light';
    src: url('../fonts/DINPro-Light.eot');
    src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DINPro-Light.woff2') format('woff2'),
        url('../fonts/DINPro-Light.woff') format('woff'),
        url('../fonts/DINPro-Light.ttf') format('truetype'),
        url('../fonts/DINPro-Light.svg#DINPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ael9xc');
  src:  url('../fonts/icomoon.eot?ael9xc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ael9xc') format('truetype'),
    url('../fonts/icomoon.woff?ael9xc') format('woff'),
    url('../fonts/icomoon.svg?ael9xc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-im:before {
  content: "\e908";
}
.icon-yt:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
  color: #564531;
}
.icon-login:before {
  content: "\e903";
  color: #564531;
}
.icon-search:before {
  content: "\e904";
}
.icon-viber:before {
  content: "\e905";
}
.icon-vk:before {
  content: "\e906";
}
.icon-whatsapp:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e90a";
}

html,
body {
	position: relative;
}
body {
	min-width: 1140px;
	font-family: DINPro-Regular;
	font-size: 16px;
	color: #564531;
	text-align: left;
}
a, a:after{
	text-decoration: none;
	color: #564531;
	-webkit-transition: color 150ms ease-in-out, border-color 150ms ease-in-out;
	   -moz-transition: color 150ms ease-in-out, border-color 150ms ease-in-out;
	     -o-transition: color 150ms ease-in-out, border-color 150ms ease-in-out;
	        transition: color 150ms ease-in-out, border-color 150ms ease-in-out;
}
a:hover,
a:hover:after{
	color: #5F9828; 
	border-color: #5F9828;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
h2{
	font-family: DINPro-Medium;
	font-size: 42px;
	color: #564531;
	letter-spacing: 0;
	text-align: center;
}

.b-header{

}
	.b-top{
		background: rgba(86,69,49,0.02);
		padding-top: 9px;
		padding-bottom: 12px;
	}
		.b-top .b-block{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.b-city{
			
		}
		.b-top-menu{
			min-width: 582px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: relative;
    		left: -14px;
		}
		.b-phone{

		}
.b-bottom{
	padding-top: 29px;
	padding-bottom: 33px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
	.b-logo{
		background-image: url(../i/main-logo.svg);
		width: 274px;
		height: 89px;
		display: inline-block;
		vertical-align: middle;
		margin-top: 2px;
	}
	.b-search{
		border: 1px solid rgba(86,69,49,0.50);
		border-radius: 30px;
		padding-top: 9px;
		padding-bottom: 15px;
		padding-left: 24px;
		width: 363px;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin-left: -3px;
		margin-top: 10px;
		max-height: 49px;
	}
		.b-search:after{
			content: "\e904";
			font-family: "icomoon";
			display: inline-block;
			position: absolute;
			right: 24px;
			top: calc(50% - 8px);
		}
			.b-search:hover, .b-search:hover:after{
				color: #5F9828;
			}
	.b-header-catalogue{
		position: relative;
		font-family: DINPro-Medium;
		font-size: 24px;
		margin-left: 44px;
		margin-top: 10px;
	}
		.b-header-catalogue:before{
			content: " ";
			width: 30px;
			height: 21px;
			position: absolute;
			left: -47px;
			top: 8px;
			background-image: url("../i/header-catalogue-black.svg");
			-webkit-transition: background-image 150ms ease-in-out;
			-moz-transition: background-image 150ms ease-in-out;
			-o-transition: background-image 150ms ease-in-out;
			transition: background-image 150ms ease-in-out;
		}
			.b-header-catalogue:hover:before{
			content: " ";
			background-image: url("../i/header-catalogue-green.svg");
		}
	.b-control{
		position: relative;
		/* right: 3px; */
		/* top: calc(50% - 14px); */
		display: inline-block;
		vertical-align: middle;
	}
		.b-profile{
			font-size: 35px;
			margin-right: 34px;
			position: relative;
			top: 6px;
		}

		.b-fav{
				font-size: 32px;
				position: relative;
				top: 4px;
				right: 2px;
		}
			.b-fav:after{
				content: " ";
				position: absolute;
				font-size: 0px;
				line-height: 0px;
				border: 1px solid #564531;
				border-radius: 50%;
				background-color: #FFF;
				width: 16px;
				height: 16px;
				right: -4px;
				bottom: -2px;
			}
		.b-fav-number{
			position: absolute;
			font-family: DINPro-Regular;
			font-size: 10px;
			letter-spacing: 0;
			right: 0px;
			bottom: 3px;
			z-index: 10;
			color: #564531;
		}
		.b-price-button .b-cart-number{
			position: absolute;
			font-family: DINPro-Regular;
			font-size: 10px;
			letter-spacing: 0;
			left: 37px;
			bottom: 9px;
			z-index: 10;
		}
	.b-main-menu{
		background-color: #5F9828;
	}
		.b-menu-items{
			display: inline-block;
		}
			.b-menu-item{
				padding: 18px 49px 22px 55px;
				display: inline-block;
			}
			.b-menu-item a{
				color: #FFF;
				font-family: DINPro-Medium;
				font-size: 18px;
				letter-spacing: 0.4px;
			}
				.b-menu-item:hover,
				.b-menu-item:hover a{
					background-color: #D4EABF;
					color: #564531;
				}
		.b-price-button{
			padding: 4px 15px 7px 63px;
			background-color: #D4EABF;
			border-radius: 3px;
			display: inline-block;
			font-size: 24px;
			color: #564531;
			letter-spacing: 0;
			float: right;
			position: relative;
			top: 10px;
		}
			.b-price-button:before{
				content: "\e902";
				font-family: "icomoon";
				position: absolute;
				left: 17px;
				bottom: 7px;
				font-size: 29px;
			}
			.b-price-button:after{
				content: " ";
				position: absolute;
				font-size: 0px;
				line-height: 0px;
				border: 1px solid #fff;
				border-radius: 50%;
				background-color: #FFF;
				width: 15px;
				height: 15px;
				left: 34px;
				bottom: 6px;
			}
			.b-price-button:hover{
				color: #564531;
			}
.b-main-slider{
	position: relative;
}
	.b-main-slide{
		background-image: url(../i/slide-1.jpg);
		min-height: 373px;
		background-repeat: no-repeat;
		background-position: 50% 39%;
		text-align: center;
		padding-top: 58px;
		display: block;
	}
		.b-main-slide h2{
			font-family: DINPro-Light;
			font-size: 52px;
			color: #564531;
			letter-spacing: 0;
			max-width: 783px;
			text-align: center;
			display: inline-block;
			line-height: 64px;
		}
.b-main-advantages .b-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 58px;
	margin-bottom: 62px;
}
	.b-advantage{
		display: inline-block;
		width: calc(100% / 3 - 49px);
	}
		.b-advantage h3{
			margin-bottom: 16px;
			font-family: DINPro-Medium;
			font-size: 24px;
			color: #564531;
			letter-spacing: 0;
			line-height: 29px;
		}
		.b-advantage p{
			font-family: DINPro-Regular;
			font-size: 18px;
			letter-spacing: 0;
			line-height: 22px;
		}
		.b-advantage-img-wrapper{
			height: 100%;
			display: inline-block;
			float: left;
			height: 143px;
		}
			.b-advantage img{
			}
			.b-advantage:nth-child(1) img{
				margin-right: 11px;
				margin-top: 5px;
				margin-left: 9px;
			}
			.b-advantage:nth-child(2) img{
				margin-right: 16px;
				margin-left: 7px;
				margin-top: 5px;
			}
			.b-advantage:nth-child(3) img{
				margin-right: 23px;
				margin-top: 6px;
				margin-left: 20px;
			}
.b-stock{
	text-align: center;
}
	.b-item-cards{
		margin-top: 31px;
		flex-wrap: wrap;
		display: flex;
		margin-bottom: 50px;
	}
		.b-item-card{
			display: inline-block;
			width: calc(100% / 4);
			text-align: center;
			padding: 10px;
			position: relative;
		}	
			.b-card-top{
				display: inline-block;
				width: 100%;
				position: relative;
			}
			.b-card-top-hover{
				font-family: DINPro-Regular;
				font-size: 14px;
				color: #FFFFFF;
				letter-spacing: 0;
				line-height: 17px;
				border: 1px solid #FFF;
				position: absolute;
				left: calc(50% - 79px);
				top: calc(50% - 75px);
				opacity: 0;
				padding: 10px 18px 10px 20px;
			}
				.b-card-top-dark{
					background-color: rgba(0,0,0,0.5);
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0px;
					top: 0px;
					opacity: 0;
				}
			.b-item-card:hover{
				z-index: 10;
				cursor: pointer;
			}
			.b-item-card:hover .b-card-top-hover,
			.b-item-card:hover .b-card-top-dark{
				opacity: 1;
			}
			.b-card-hover-frame{
				position: absolute;
				width: calc(100% + 1px);
				height: 100%;
				content: " ";
				border: 1px #E6E6E6 solid;
				left: 0%;
				top: 0%;

			}
				.b-item-card:hover .b-card-hover-frame{
					left: -10px;
					top: -10px;
					width: calc(100% + 20px);
					height: calc(100% + 20px);
					border-radius: 3px;
					background-color: #FFF;
					box-shadow: 3px 5px 20px 5px rgba(230,230,230,0.50);
				}	
				.b-discount{
					position: absolute;
					top: 0;
					left: 0;
					font-family: DINPro-Light;
					font-size: 16px;
					color: #564531;
					letter-spacing: 0;
					padding: 2px 13px;
					/* padding-top: 2px; */
					/* border: 1px black solid; */
				}
				.b-card-fav{
					position: absolute;
					top: 0px;
					right: 0px;
				}
				.b-in-stock{
					position: absolute;
					bottom: 10px;
					right: 18px;
					font-family: DINPro-Light;
					font-size: 14px;
					color: #564531;
				}
			.b-card-bottom{
				text-align: left;
				z-index: 20;
				position: relative;
			}
				.b-item-name{
					font-family: DINPro;
					font-size: 18px;
					color: #3E3224;
					letter-spacing: 0;
				    margin-top: 12px;
				    z-index: 30;
				}
				.b-price{
					margin-top: 16px;
					font-size: 24px;
					color: #3E3224;
					letter-spacing: 0;
				}
				.b-discount-price{

				}
		.b-btn{
			padding: 17px 40px 20px 40px;
			border: 2px rgba(86, 69, 49, 0.5) solid;
			border-radius: 3px;
			display: inline-block;
			font-family: DINPro-Medium;
			font-size: 20px;
			color: #564531;
			letter-spacing: 0;
			cursor: pointer;
			text-align: center;
			-webkit-transition: border-color 150ms ease-in-out;
			-moz-transition: border-color 150ms ease-in-out;
			-o-transition: border-color 150ms ease-in-out;
			transition: border-color 150ms ease-in-out;
		}
			.b-btn:hover{
				border-color: #77BE32;
			}

.b-footer{
	background-color: #F3F3F3;
	margin-top: 56px;
}
	.b-footer-top{
		border-bottom: 1px solid #D8D8D8;
		padding-top: 32px;
		padding-bottom: 24px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
		.b-footer-top-text{
			display: inline-block;
			width: calc(100% / 2 - 12px);
		}
			.b-footer-top-text h3{
				font-family: DINPro-Medium;
				font-size: 32px;
				color: #564531;
				letter-spacing: 0;
				margin-bottom: 16px;
				margin-top: -5px;
			}
			.b-footer-top-text p{
				font-size: 18px;
				line-height: 26px;
			}
		.b-footer-top-input{
			display: inline-block;
			width: calc(100% / 2 - 12px);
			position: relative;
		}
			.b-footer-inputs{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin-top: 9px;
				justify-content: space-between;
			}
				.b-footer-inputs input{
					width: calc(100% / 2 - 12px);
					margin-bottom: 24px;
				}
				.b-footer-inputs .b-btn{
					padding: 14px 24px;
				}
				.b-footer-inputs a{
					width: calc(100% / 2 - 12px);
				}
				.b-footer-inputs .politics{
					font-family: DINPro-Regular;
					font-size: 12px;
					letter-spacing: 0;
					width: calc(100% / 2);
					color: rgba(86,69,49,0.50);
					padding-left: 18px;
					line-height: 15px;
				}
					.b-footer-inputs .politics a:hover{
						color: rgba(86,69,49,0.50);
					}
				.underlined{
					position: relative;
					color: rgba(86,69,49,0.50);
				}
					.underlined:after{
						position: absolute;
						bottom: 0px;
						left: 0px;
						width: 100%;
						border-top: 1px solid rgba(86,69,49,0.50);
						transform: scaleY(0.5);
						content: " ";
					}
					.underlined:hover:after{
						opacity: 0;
					}
	.b-footer-bottom{
		padding-top: 32px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
		.b-footer-bottom-left{
			width: calc(100% / 4 + 18px);
		}
			.b-footer-logo{
				width: 154px;
				height: 84px;
				background-image: url(../i/footer-logo.svg);
				background-repeat: no-repeat;
				display: block;
				margin-top: 6px;
			}
			.b-footer-bottom-left .b-phone{
				font-family: DINPro-Medium;
				font-size: 20px;
				letter-spacing: 0px;
				line-height: 24px;
				margin-top: 22px;
				display: block;
			}
			.b-phone-call{
				display: inline-block;
				margin-top: 2px;
				cursor: pointer;
			}
				.b-phone-call.underlined{
					font-family: DINPro-Regular;
					font-size: 16px;
					color: #564531;
				}
			.b-write-us{
				margin-top: 24px;
				letter-spacing: 0.2px;
			}
				.b-write-us p{
				
				}
				.b-footer-messenger{
					margin-top: 11px;
				}
					.b-footer-messenger .icon-vk{
						font-size: 17px;
						position: relative;
						top: -6px;
						left: 4px;
					}
					.b-footer-messenger .icon-whatsapp{
						font-size: 27px;
						margin-left: 29px;
						position:  relative;
						top: -2px;
					}
					.b-footer-messenger .icon-viber{
						margin-left: 28px;
						font-size: 27px;
					}
			.b-footer-bottom-left .b-btn{padding: 12px 31px;
				margin-top: 22px;
				font-size: 18px;
			}
		.b-footer-bottom-middle{
			width: calc(100% / 6 + 14px);
		}
			.b-footer-top-menu{
				margin-bottom: 25px;
			}
				.b-footer-top-menu li,
				.b-footer-bottom-menu li{
					font-family: DINPro-Regular;
					font-size: 18px;
					color: #564531;
					letter-spacing: 0;
					line-height: 24px;
					margin-bottom: 6px;
				}
					.b-footer-top-menu li:last-child,
					.b-footer-bottom-menu li:last-child{
						margin-bottom: 0px;
					}
			.b-footer-bottom-menu{
				
			}
		.b-footer-bottom-right{
			width: calc(100% / 2 - 110px);
		}
			.b-subscribe{
				margin-bottom: 39px;
			}
				.b-subscribe .politics a{
					font-family: DINPro-Light;
					font-size: 12px;
					color: rgba(86,69,49,0.50);
					text-decoration: underline;
				}
						.b-subscribe .politics a:hover{
							text-decoration: none;
						}
				.b-subscribe-us{
					letter-spacing: -0.2px;
					margin-bottom: 16px;
				}
				.b-footer-bottom-right  input[type=text], 
				.b-footer-bottom-right input[type=phone]{
					font-size: 16px;
					padding: 7px 17px;
				}
				.b-footer-bottom-right .b-btn{
					font-size: 18px;
					padding: 10px 42px;
					width: auto;
					height: 55px;
					display: inline-block;
				}
				.b-footer-bottom-right .politics{
					padding-left: 5px;
					margin-top: -5px;
				}
			.b-social{
				letter-spacing: 0.1px;
				margin-bottom: 35px;
			}
				.b-social p{
					margin-bottom: 18px;
				}
				.b-footer-social .icon-vk{
					font-size: 18px;
					position: relative;
					top: -4px;margin-left: 3px;
					margin-right: 25px;
				}
				.b-footer-social .icon-im{
					font-size: 27px;
					margin-right: 28px;
				}
				.b-footer-social .icon-yt{
					font-size: 20px;
					position: relative;
					top: -3px;
				}
			.b-all-politics{
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
			}
				.b-all-politics a{
				    font-family: DINPro-Light;
					font-size: 14px;
					display: inline-block;
					width: auto;
					position: relative;
					flex-basis: 223px;
					line-height: 21px;
					color: rgba(86,69,49,0.50);
				}
					.b-all-politics a:hover{
						color: rgba(86,69,49,0.50);
					}
						.b-all-politics a:after{
							width: 200px;
						}
						.b-all-politics a:last-child:after{
							width: 103px;
						}
		.b-copyright{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			padding-top: 43px;
			padding-bottom: 30px;
		}

















.slick-dots li:after{
	content: " ";
	position: absolute;
	right:0px;
	top: 0px;
	border: 2px solid #77BE32;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #fff;
	opacity: 1;
}
.slick-dots li{
	position: absolute;
	opacity: 0;
}


.my-dots {
  	position: absolute;
  	display: block;
  	width: 100%;
  	padding: 0;
  	list-style: none;
  	text-align: center;
  	bottom: 15px;
}

.my-dots li {
  	position: relative;
  	display: inline-block;
  	width: 20px;
  	height: 20px;
  	margin: 0 8px;
  	padding: 0;
  	cursor: pointer;
}

.my-dots li button {
  	font-size: 0;
  	line-height: 0;
  	display: block;
  	width: 20px;
  	height: 20px;
 	padding: 5px;
  	cursor: pointer;
  	color: transparent;
  	border: 0;
  	outline: none;
 	background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  	outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  	opacity: 1;
}

.my-dots li button:before {
  	font-family: 'slick';
  	font-size: 6px;
  	line-height: 20px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 20px;
  	height: 20px;
 	 content: url("../i/oval.svg");
  	text-align: center;
  	opacity: .25;
  	color: black;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.my-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}


.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1140px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
input[type=text], textarea[type=text], input[type=tel], input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=text], input[type=phone]{
	font-family: DINPro-Light;
	padding: 12px 24px;
	font-size: 18px;
	color: #454545;
	line-height: 24px;
	display: inline-block;
	border: 1px solid rgba(86, 69, 49, 0.5);
	border-radius: 3px;
	letter-spacing: 0;
}
input::-webkit-input-placeholder {
	color: rgba(86,69,49,0.50);
}
input:-moz-placeholder {
	color: rgba(86,69,49,0.50);
}
textarea::-webkit-input-placeholder {
	color: rgba(86,69,49,0.50);
}
textarea:-moz-placeholder {
	color: rgba(86,69,49,0.50);
}
[class^="icon-"]:before, 
[class*=" icon-"]:before  {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}